.App {
  text-align: center;
  background-color: #010631;
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
  height: 100vh; /* Set body height to viewport height */

}
